@model EntityLayer.Concrate.Education

@{
    ViewData["Title"] = "EducationAdd";
    Layout = "AdminLayout";
}

@using (Html.BeginForm("EducationAdd", "AdminEducation", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="main-container">
        <div class="xs-pd-20-10 pd-ltr-20">
            <div class="page-header">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="title">
                            <h4>Eğitim Güncelleme</h4>
                        </div>
                        <nav aria-label="breadcrumb" role="navigation">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a asp-area="" asp-controller="AdminEducation" asp-action="EducationList">Eğitimler</a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">
                                    Eğitim Ekle
                                </li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>

            <div class="pd-20 card-box mb-30">
                <div class="clearfix">
                    <h4 class="text-blue h4"> Eğitim Güncelleme</h4>
                    <p class="mb-30">Admin tarafından eğitim bilgilerini güncelleme</p>
                </div>
                <div class="wizard-content">
                    <h5>Eğitim Bilgiler</h5><br />
                    <section>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.HiddenFor(m => m.EducationId)
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group">
                                @Html.LabelFor(m => m.Title, "Eğitim Başlığı")
                                @Html.TextBoxFor(m => m.Title, new { @class = "form-control", placeholder = "Eğitim Başlığı" })
                                @Html.ValidationMessageFor(m => m.Title, "", new { @class = "text-danger" })
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Description, "Kısa Açıklama")
                                    @Html.TextBoxFor(m => m.Description, new { @class = "form-control"})

                                    @Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.ContentText, "Eğitim Hakkında")
                                    @Html.TextBoxFor(m => m.ContentText, new { @class = "form-control", @placeholder = Model.ContentText ?? "Belirsiz" })
                                    @Html.ValidationMessageFor(m => m.ContentText, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.CategoryId, "Kategori")
                                <select class="form-control" asp-for="CategoryId">
                                    <option value="">-- Kategori Seç --</option>
                                    @foreach (var category in ViewBag.Category)
                                    {
                                        <option value="@category.CategoryId">@category.Name</option>
                                    }
                                </select>
                                @Html.ValidationMessageFor(m => m.CategoryId, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </section>
                    <br />

                    <h5>Eğitim Dosyaları</h5><br />
                    <section>
                        <div class="col-md-12">
                            <div class="form-group">
                                @Html.LabelFor(m => m.Image, "Kapak Görsel")
                                @Html.TextBoxFor(m => m.Image, new { @class = "form-control", @placeholder = Model.Image })
                                @Html.ValidationMessageFor(m => m.Image, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                @Html.LabelFor(m => m.VideoUrls, "Eğitim Dosyaları")
                                @Html.TextAreaFor(m => m.VideoUrls, new { @class = "form-control", @placeholder = Model.VideoUrls })
                                @Html.ValidationMessageFor(m => m.VideoUrls, "", new { @class = "text-danger" })
                            </div>
                        </div>

                    </section>
                    <br />
                    <button type="submit" class="btn btn-primary btn-block">Kaydet</button>
                    <a class="btn btn-info btn-block" asp-controller="AdminEducation" asp-action="EducationList">İptal</a>
                </div>
            </div>
        </div>
    </div>
}
